<footer class="main-footer py-4 px-3">
  <div class="container-fluid d-flex flex-column flex-md-row justify-content-between align-items-center">

    <!-- Logo y texto -->
    <div class="d-flex align-items-center gap-2 mb-3 mb-md-0">
      <a class="navbar-brand d-flex align-items-center me-3" routerLink="/">
        <img src="assets/images/RJK-logo.png" alt="Logo RJK SCORE" class="brand-logo" />
      </a>
      <span class="footer-text">CC BY-SA 4.0 International License</span>
    </div>

    <!-- Menú de enlaces -->
    <ul class="footer-links list-unstyled d-flex gap-4 mb-0">
      <li><a routerLink="/privacy" class="footer-link">Privacy</a></li>
      <li><a routerLink="/terms" class="footer-link">Terms</a></li>

    </ul>
  </div>
</footer>
