.section-terms {
  min-height: calc(100vh - 100px);
  position: relative;
  font-family: var(--font-family-base);
}

.terms-card ul {
  list-style: none;
  padding-left: 0;
}

.terms-card ul li::before {
  content: "✔";
  color: var(--primary-color);
  margin-right: 0.5rem;
}

.terms-card p, .terms-card li {
  font-size: 1rem;
  line-height: 1.6;
  font-family: var(--font-family-base);
}

