.section-account {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

.section-account input {
  background-color: var(--color-card);
  border: 1px solid var(--color-shadow);
  color: var(--color-text-primary);
  border-radius: 8px;
}

.section-account input::placeholder {
  color: var(--color-text-secondary);
}
