<main class="main-content">

  <div class="strip-container d-none d-xl-block">
    <img src="assets/images/vertical-background.jpg" class="side-fill-img side-left d-none d-xl-block"
      alt="Decoración izquierda" />
    <img src="assets/images/vertical-background.jpg" class="side-fill-img side-right d-none d-xl-block"
      alt="Decoración derecha" />
  </div>

  <section class="section-categories py-5 bg-black">
    <div class="container">
      <h2 class="section-title mb-5 text-center">CATEGORIES</h2>

      <!-- === League of Legends === -->
      <div class="game-block lol-block position-relative">
        <ng-container *ngIf="!currentViewLoL">
          <img src="assets/images/lol-categories.jpg" class="game-bg-img" alt="Fondo League of Legends">
        </ng-container>
        <h3 class="game-title mb-3">League of Legends</h3>
        <div class="game-filters">
          <button (click)="currentViewLoL === 'leagues' ? currentViewLoL = '' : currentViewLoL = 'leagues'"
            class="btn btn-outline-light btn-sm" [ngClass]="{'active': currentViewLoL === 'leagues'}">Leagues</button>
          <button (click)="currentViewLoL === 'series' ? currentViewLoL = '' : currentViewLoL = 'series'"
            class="btn btn-outline-light btn-sm" [ngClass]="{'active': currentViewLoL === 'series'}">Series</button>
          <button (click)="currentViewLoL === 'tournaments' ? currentViewLoL = '' : currentViewLoL = 'tournaments'"
            class="btn btn-outline-light btn-sm"
            [ngClass]="{'active': currentViewLoL === 'tournaments'}">Tournaments</button>
          <button (click)="currentViewLoL === 'matches' ? currentViewLoL = '' : currentViewLoL = 'matches'"
            class="btn btn-outline-light btn-sm" [ngClass]="{'active': currentViewLoL === 'matches'}">Matches</button>
        </div>

        @if (currentViewLoL === 'leagues') {<app-paginator [totalItems]="lolLeagues.length"
          [itemsPerPage]="itemsPerPage" [currentPage]="lolPageMap['leagues']"
          (pageChanged)="lolChangePage('leagues', $event)">
        </app-paginator>
        <game-league-card [leagues]="paginatedLoLLeagues"></game-league-card>

        }

        @if (currentViewLoL === 'series') {<app-paginator [totalItems]="lolSeries.length" [itemsPerPage]="itemsPerPage"
          [currentPage]="lolPageMap['series']" (pageChanged)="lolChangePage('series', $event)">
        </app-paginator>
        <game-series-card [series]="paginatedLoLSeries"></game-series-card>


        }

        @if (currentViewLoL === 'tournaments') {<app-paginator [totalItems]="lolTournaments.length"
          [itemsPerPage]="itemsPerPage" [currentPage]="lolPageMap['tournaments']"
          (pageChanged)="lolChangePage('tournaments', $event)">
        </app-paginator>
        <game-tournament-card [tournaments]="paginatedLoLTournaments" game ="lol"></game-tournament-card>


        }

        @if (currentViewLoL === 'matches') {<app-paginator [totalItems]="lolMatches.length"
          [itemsPerPage]="itemsPerPage" [currentPage]="lolPageMap['matches']"
          (pageChanged)="lolChangePage('matches', $event)">
        </app-paginator>
        <game-match-card [matches]="paginatedLoLMatches"></game-match-card>


        }
      </div>

      <!-- === CS:GO === -->
      <div class="game-block csgo-block position-relative">
        <ng-container *ngIf="!currentViewCSGO">
          <img src="assets/images/csgo-categories.jpg" class="game-bg-img" alt="Fondo Counter Strike: Global Offensive">
        </ng-container>
        <h3 class="game-title mb-3">CS:GO</h3>
        <div class="game-filters">
          <button (click)="currentViewCSGO === 'leagues' ? currentViewCSGO = '' : currentViewCSGO = 'leagues'"
            class="btn btn-outline-light btn-sm" [ngClass]="{'active': currentViewCSGO === 'leagues'}">Leagues</button>
          <button (click)="currentViewCSGO === 'series' ? currentViewCSGO = '' : currentViewCSGO = 'series'"
            class="btn btn-outline-light btn-sm" [ngClass]="{'active': currentViewCSGO === 'series'}">Series</button>
          <button (click)="currentViewCSGO === 'tournaments' ? currentViewCSGO = '' : currentViewCSGO = 'tournaments'"
            class="btn btn-outline-light btn-sm"
            [ngClass]="{'active': currentViewCSGO === 'tournaments'}">Tournaments</button>
          <button (click)="currentViewCSGO === 'matches' ? currentViewCSGO = '' : currentViewCSGO = 'matches'"
            class="btn btn-outline-light btn-sm" [ngClass]="{'active': currentViewCSGO === 'matches'}">Matches</button>
        </div>

        @if (currentViewCSGO === 'leagues') {
        <app-paginator [totalItems]="CSGOLeagues.length" [itemsPerPage]="itemsPerPage"
          [currentPage]="csgoPageMap['leagues']" (pageChanged)="csgoChangePage('leagues', $event)">
        </app-paginator>
        <game-league-card [leagues]="paginatedCSGOLeagues"></game-league-card>
        }

        @if (currentViewCSGO === 'series') {
        <app-paginator [totalItems]="CSGOSeries.length" [itemsPerPage]="itemsPerPage"
          [currentPage]="csgoPageMap['series']" (pageChanged)="csgoChangePage('series', $event)">
        </app-paginator>
        <game-series-card [series]="paginatedCSGOSeries"></game-series-card>
        }

        @if (currentViewCSGO === 'tournaments') {
        <app-paginator [totalItems]="CSGOTournaments.length" [itemsPerPage]="itemsPerPage"
          [currentPage]="csgoPageMap['tournaments']" (pageChanged)="csgoChangePage('tournaments', $event)">
        </app-paginator>
        <game-tournament-card [tournaments]="paginatedCSGOTournaments" game="csgo"></game-tournament-card>
        }

        @if (currentViewCSGO === 'matches') {
        <app-paginator [totalItems]="CSGOMatches.length" [itemsPerPage]="itemsPerPage"
          [currentPage]="csgoPageMap['matches']" (pageChanged)="csgoChangePage('matches', $event)">
        </app-paginator>
        <game-match-card [matches]="paginatedCSGOMatches"></game-match-card>
        }
      </div>

      <!-- === Dota 2 === -->
      <div class="game-block dota2-block position-relative">
        <ng-container *ngIf="!currentViewDota2">
          <img src="assets/images/dota2-categories.jpg" class="game-bg-img" alt="Fondo League of Legends">
        </ng-container>
        <h3 class="game-title mb-3">Dota 2</h3>
        <div class="game-filters">
          <button (click)="currentViewDota2 === 'leagues' ? currentViewDota2 = '' : currentViewDota2 = 'leagues'"
            class="btn btn-outline-light btn-sm"
            [ngClass]="{ 'active': currentViewDota2 === 'leagues' }">Leagues</button>
          <button (click)="currentViewDota2 === 'series' ? currentViewDota2 = '' : currentViewDota2 = 'series'"
            class="btn btn-outline-light btn-sm" [ngClass]="{ 'active': currentViewDota2 === 'series' }">Series</button>
          <button
            (click)="currentViewDota2 === 'tournaments' ? currentViewDota2 = '' : currentViewDota2 = 'tournaments'"
            class="btn btn-outline-light btn-sm"
            [ngClass]="{ 'active': currentViewDota2 === 'tournaments' }">Tournaments</button>
          <button (click)="currentViewDota2 === 'matches' ? currentViewDota2 = '' : currentViewDota2 = 'matches'"
            class="btn btn-outline-light btn-sm"
            [ngClass]="{ 'active': currentViewDota2 === 'matches' }">Matches</button>
        </div>

        @if (currentViewDota2 === 'leagues') {
        <app-paginator [totalItems]="dota2Leagues.length" [itemsPerPage]="itemsPerPage"
          [currentPage]="dota2PageMap['leagues']" (pageChanged)="dota2ChangePage('leagues', $event)">
        </app-paginator>
        <game-league-card [leagues]="paginatedDota2Leagues"></game-league-card>
        }

        @if (currentViewDota2 === 'series') {
        <app-paginator [totalItems]="dota2Series.length" [itemsPerPage]="itemsPerPage"
          [currentPage]="dota2PageMap['series']" (pageChanged)="dota2ChangePage('series', $event)">
        </app-paginator>
        <game-series-card [series]="paginatedDota2Series"></game-series-card>
        }

        @if (currentViewDota2 === 'tournaments') {
        <app-paginator [totalItems]="dota2Tournaments.length" [itemsPerPage]="itemsPerPage"
          [currentPage]="dota2PageMap['tournaments']" (pageChanged)="dota2ChangePage('tournaments', $event)">
        </app-paginator>
        <game-tournament-card [tournaments]="paginatedDota2Tournaments" game="dota2"></game-tournament-card>
        }

        @if (currentViewDota2 === 'matches') {
        <app-paginator [totalItems]="dota2Matches.length" [itemsPerPage]="itemsPerPage"
          [currentPage]="dota2PageMap['matches']" (pageChanged)="dota2ChangePage('matches', $event)">
        </app-paginator>
        <game-match-card [matches]="paginatedDota2Matches"></game-match-card>
        }

      </div>

      <!-- === Valorant === -->
      <div class="game-block valorant-block position-relative">
        <ng-container *ngIf="!currentViewValorant">
          <img src="assets/images/valorant-categories.jpg" class="game-bg-img" alt="Fondo Valorant">
        </ng-container>
        <h3 class="game-title mb-3">Valorant</h3>
        <div class="game-filters">
          <button
            (click)="currentViewValorant === 'leagues' ? currentViewValorant = '' : currentViewValorant = 'leagues'"
            class="btn btn-outline-light btn-sm"
            [ngClass]="{'active': currentViewValorant === 'leagues'}">Leagues</button>
          <button (click)="currentViewValorant === 'series' ? currentViewValorant = '' : currentViewValorant = 'series'"
            class="btn btn-outline-light btn-sm"
            [ngClass]="{'active': currentViewValorant === 'series'}">Series</button>
          <button
            (click)="currentViewValorant === 'tournaments' ? currentViewValorant = '' : currentViewValorant = 'tournaments'"
            class="btn btn-outline-light btn-sm"
            [ngClass]="{'active': currentViewValorant === 'tournaments'}">Tournaments</button>
          <button
            (click)="currentViewValorant === 'matches' ? currentViewValorant = '' : currentViewValorant = 'matches'"
            class="btn btn-outline-light btn-sm"
            [ngClass]="{'active': currentViewValorant === 'matches'}">Matches</button>
        </div>

        @if (currentViewValorant === 'leagues') {
        <app-paginator [totalItems]="valorantLeagues.length" [itemsPerPage]="itemsPerPage"
          [currentPage]="valorantPageMap['leagues']" (pageChanged)="valorantChangePage('leagues', $event)">
        </app-paginator>
        <game-league-card [leagues]="paginatedValorantLeagues"></game-league-card>
        }

        @if (currentViewValorant === 'series') {
        <app-paginator [totalItems]="valorantSeries.length" [itemsPerPage]="itemsPerPage"
          [currentPage]="valorantPageMap['series']" (pageChanged)="valorantChangePage('series', $event)">
        </app-paginator>
        <game-series-card [series]="paginatedValorantSeries"></game-series-card>
        }

        @if (currentViewValorant === 'tournaments') {
        <app-paginator [totalItems]="valorantTournaments.length" [itemsPerPage]="itemsPerPage"
          [currentPage]="valorantPageMap['tournaments']" (pageChanged)="valorantChangePage('tournaments', $event)">
        </app-paginator>
        <game-tournament-card [tournaments]="paginatedValorantTournaments" game="valorant"></game-tournament-card>
        }

        @if (currentViewValorant === 'matches') {
        <app-paginator [totalItems]="valorantMatches.length" [itemsPerPage]="itemsPerPage"
          [currentPage]="valorantPageMap['matches']" (pageChanged)="valorantChangePage('matches', $event)">
        </app-paginator>
        <game-match-card [matches]="paginatedValorantMatches"></game-match-card>
        }

      </div>
    </div>
  </section>
</main>